*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    text-decoration: none;
}
:root{
    --color-bg: rgb(190, 210, 247);
    --color-bg-variant: rgb(5, 18, 43);
    --transition: 0.5s ease;
}
body{
    width: 100vw;
    height: max-content;
    background-color: var(--color-bg);

}
.App{
    widows: 100vw;
    min-height: 100vh;
}
.blogs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 3rem;
    padding-top: 3rem;
    align-items: center;
}
.blog-name{
    color: var(--color-bg-variant);
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.inside-container{
    height: max-content;
    width: 100%;
    margin-top: 2rem;
    
}
.inside-dets{
    padding: 2rem;
    width: 80%;
    margin:  0 auto;
}
.go-home{
    color: var(--color-bg-variant);
    transition: var(--transition);
    padding: 0.5rem;
    border-radius: 1rem;
}
.go-home:hover{
    background-color: white;
}

.inside-img{
    width: 100%;
    overflow: hidden;
}
.inside-img img{
    width: 100%;
}
.inside-content{
    margin-top: 1rem;
    line-height: 1.5rem;
}
.inside-author{
    font-weight: bold;
    color: var(--color-bg-variant);
    margin-top: 1rem;
}
.bottom{
    width: max-content;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.inside-date{
    color: dimgray;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
}
.inside-heading{
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 2rem;
    color: dimgray;
}

.form-container{
    position: relative;
    height: max-content;
}
input[type='search']{
    padding: 0.5rem;
    border: none;
    overflow: hidden;
    width: 15em;
    outline: none;
    font-size: 1.1rem;
}
.search-icon{
    position: absolute;
    right: 5px;
    background-color: var(--color-bg-variant);
    color: lightgray;
    padding: 0.5rem;
    top: 1px;
}
.btn{
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.blogs{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 2rem;
}
.more{
    color: gray;
}

.blog{
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: var(--transition);
    position: relative;
}
.blog:hover{
    background-color: lightgray;
}
.blog:hover .brief{
    top: 50%;
}

.blog-info-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bold;
}
.blog-img{
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}
.blog-img img{
    width: 100%;
}
.author, .date{
    font-size: 0.9rem;
}
.post-name{
    font-size: 1.1rem;
    color: var(--color-bg-variant);
    font-weight: bold;
    text-transform: capitalize;
}
.not-found{ 
    color: dimgray;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.blog-info{
    padding: 0 1rem;  
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: dimgray;
}
.brief{
    font-size: 0.9rem;
    color: white;
    position: absolute;
    top: -5rem;
    transition: var(--transition);
    background-color: rgba(0,0,0,0.5);
    left: 0;
}
@media screen and (max-width: 640px) {
    .inside-dets{
        width: 90%;
    }
}
@media screen and (max-width: 450px) {
    .inside-dets{
        width: 100%;
        padding: 1rem;
    }
}